 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */
@import "tailwindcss";

/* @import "tailwindcss/preflight"; 
@tailwind utilities; */

/* Apply default font */
body {
  font-family: 'Roboto', sans-serif;
} 